body {
       margin: 2em;
       margin-left: 1em;
       font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
       background-color: #393939;
       color: #cccccc;
       font-size: 0.9em;
      }

a { 
    font-style: italic;
    text-decoration: none;
    }

a:link    {
            color: lightgray;
            }

a:visited { color: lightgray;
            }

a:hover   { font-weight: bold;
            color: white;
            }

h1 {
     font-family: "Bitstream Vera Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     }

h1 a:link { font-style: normal; }

h2 {
     font-family: "Bitstream Vera Sans", sans-serif;
     }

h3 {
}

h4 { 
     margin: 0;
     font-size: large;
     font-weight: normal;
     letter-spacing: .1em;
     font-variant: small-caps;
     }

li { 
    padding-bottom: 0.5em;
}

li li { 
    padding-bottom: 0;
}

ul p, ul pre {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

pre { 
    padding-left: 1em;
}
